<div class="content_container">
<h3>Instructions:</h3>
*Total number of questions : 25.</br>

*Time alloted : 25 minutes.</br>

*Each question carry 1 mark, no negative marks.</br>
<h3>Note:</h3>

*Click the 'Submit Test' button given in the last page to Submit your answers.</br>



<div class="start">
<div class="actual_logbtn">
<%= link_to "Start Exam", :controller => "questions", :action => "new" %></br>
</div>
</div>
</div>
